{% extends "layout.html" %}

{% block content %}
<style>
    #sonarr_table {
        table-layout: fixed;
        width: 100%;
    }
    #sonarr_table th,
    #sonarr_table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #sonarr_table th:nth-child(1),
    #sonarr_table td:nth-child(1) { width: 50%; }
    #sonarr_table th:nth-child(2),
    #sonarr_table td:nth-child(2) { width: 10%; }
    #sonarr_table th:nth-child(3),
    #sonarr_table td:nth-child(3) { width: 20%; }
    #sonarr_table th:nth-child(4),
    #sonarr_table td:nth-child(4) { width: 10%; }
</style>
<h2>Sonarr Series</h2>
<p>
    Total Series: {{ series|length }} |
    Monitorati: {{ total_monitored }} |
    Non monitorati: {{ total_unmonitored }}
</p>

<table id="sonarr_table" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>TVDb ID</th>
            <th>Monitored</th>
        </tr>
    </thead>
    <tbody>
        {% for s in series %}
        <tr>
            <td>
                <a href="{{ sonarr_url }}/series/{{ s.slug }}" target="_blank">
                    {{ s.title }}
                </a>
            </td>
            <td>{{ s.year }}</td>
            <td>{{ s.tvdb_id }}</td>
            <td>{{ "Yes" if s.monitored else "No" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- DataTables JS/CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<script>
$(document).ready(function() {
    $('#sonarr_table').DataTable({
        "paging": true,
        "ordering": true,
        "order": [[1, "desc"]],
        "pageLength": 25
    });
});
</script>

{% endblock %}
